<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./vendor/autoload.php" colors="true">
    <testsuites>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="Functional">
            <directory>tests/Functional</directory>
        </testsuite>
        <testsuite name="Integration">
            <directory>tests/Integration</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>

    <listeners>
        <listener class="Starch\Tests\Integration\IntegrationListener" />
    </listeners>

    <php>
        <env name="INTEGRATION_TEST_SERVER_HOST" value="localhost" />
        <env name="INTEGRATION_TEST_SERVER_PORT" value="8453" />
    </php>
</phpunit>
